.app-header__title {
  text-align: center;
}

.app-header__filters {
  display: flex;
  position: absolute;
  right: 20px;
  top: 20px;
}

.dropdown {
  margin: 0 25px;
  position: relative;
}

.menu {
  border: 1px solid grey;
  list-style-type: none;
  margin: 5px 0;
  padding: 0;
  position: absolute;
  width: 150px;
  z-index: 999999;
}

.menu-item:hover {
  background-color: #f0f0f0;
}

.menu-item {
  width: 100%;
  height: 100%;
  text-align: left;

  background-color: white;
  color: inherit;
  border: none;
  padding: 5px;
  margin: 0;
  font: inherit;
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
  pointer-events: all !important;
  background-color: #f0f0f0;
}
